# Assignment #6 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Madison Souder
</br>
Date: 
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
<br>
Now we will start the process of uploading our dataset into a database. There are many different ways to upload your .csv data into a database (.db file). Databases can be created in many open source applications, MySQL workbench, and even some websites can load your .csv data into a database...for a small fee. Instead of using an application, we are going to first create our database for our dataset from scratch in Python. On a much larger scale, data may be automatically uploaded to a database once it is aquired.<br>

#### Assignment #6 Objectives

We will use the Python packages SQL Alchemy and SQLite to create three separate databases for practice. 
- Create one database on our MySQL server (10)
  - Create and populate our first table with appropriate data types
  - View the MySQL workbench schema to see the table you created
- Create one test database locally that we can still use with MySQL (3)
- Create one test database locally as a .db file. (2) <br>
<br>
Follow the instructions below to complete the assignment. For submission, please include your .ipynb file with output cells (Or a link to Github), and the screen shot of your first database table in MySQL Workbench. Answer any questions in markdown cell boxes. Be sure to comment all code in your own words.

### Creating our database from scratch to integrate with MySQL Workbench in Python<br>

**BEFORE YOU BEGIN!**<br>
Is your MySQL Server running on your local machine?<br>
**Start the server** if it is not running already.

We need the MySQL connector to work with Python since we are using SQLAlchemy with MySQL Workbench. Let's install the MySQL driver. Run the following code in a terminal window to install the MySQL connector: <br>
pip install mysql-connector-python mysql-connector

#### Creating a database from scratch in Python using SQL Alchemy<br>
Additional sources: <br>
-- https://medium.com/@sandyjtech/creating-a-database-using-python-and-sqlalchemy-422b7ba39d7e <br>
-- https://www.youtube.com/watch?v=xr7vDSFXjW0 <br>
-- https://www.geeksforgeeks.org/how-to-design-a-database-for-spotify/ (My specific inspiration for understanding a Spotify schema)

In [1]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

Open MySQL Workbench.
- Click on Local Instance (This is your port number - if needed)

In [31]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="Graduate!2025") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS Chronic_disease_indicators")
# MySQL_SpotifyDatabase will be the name when the database is created.

print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

**STOP**<br><br>
Confirm your database was created before continuing. <br> <br>
Open MySQL Workbench.<br>
Under MySQL Connections, click Local Instance<br>
Click the Schemas tab<br>
**You should now see a new (empty) database that you created**<br>
If it does not show up right away, hit refresh (The circular arrows)

In [3]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = "mysql+mysqlconnector://root:Graduate!2025@localhost/Chronic_disease_indicators" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [4]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
disease = pd.read_csv("Chronic_Disease_Indicators_clean(1).csv",delimiter=",")

In [5]:
# Preview the dataframe by looking at the first five rows.
disease.head()

,year_start,year_end,location_abbr,location_desc,data_source,topic,question,data_value_unit,data_value_type,data_value,...,low_confidence_limit,high_confidence_limit,stratification_category_1,stratification_1,geo_location,location_id,topic_id,question_id,data_value_type_id,stratification_id_1
0,2015,2019,OH,Ohio,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",Number,Number,34395.0,...,NaN,NaN,Sex,Female,POINT (-82.40426005599966 40.06021014100048),39,CAN,CAN07,NMBR,SEXF
1,2015,2019,ID,Idaho,US Cancer DVT,Cancer,Invasive cancer (all sites combined) mortality...,"per 100,000",Age-adjusted Rate,123.1,...,100.5,149.1,Race/Ethnicity,"American Indian or Alaska Native, non-Hispanic",POINT (-114.3637300419997 43.682630005000476),16,CAN,CAN08,AGEADJRATE,AIAN
2,2015,2019,WY,Wyoming,US Cancer DVT,Cancer,Colon and rectum (colorectal) cancer mortality...,"per 100,000",Age-adjusted Rate,12.2,...,11.0,13.5,Race/Ethnicity,"White, non-Hispanic",POINT (-108.10983035299967 43.23554134300048),56,CAN,CAN01,AGEADJRATE,WHT
3,2015,2019,AR,Arkansas,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence","per 100,000",Age-adjusted Rate,548.3,...,543.3,553.4,Sex,Male,POINT (-92.27449074299966 34.74865012400045),5,CAN,CAN07,AGEADJRATE,SEXM
4,2015,2019,NY,New York,US Cancer DVT,Cancer,Colon and rectum (colorectal) cancer mortality...,"per 100,000",Age-adjusted Rate,14.9,...,14.3,15.5,Race/Ethnicity,"Black, non-Hispanic",POINT (-75.54397042699964 42.82700103200045),36,CAN,CAN01,AGEADJRATE,BLK

In [6]:
# What are all of the column names and data types for our dataset? 
# It is important to know the column names from the .csv because these are the field names we will want to use for our first table.
# Remember, the field names represent the column names of the csv/table.

disease.info() #Prints out column names, non-null counts, and data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209196 entries, 0 to 209195
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year_start                  209196 non-null  int64
 1   year_end                    209196 non-null  int64
 2   location_abbr               209196 non-null  object
 3   location_desc               209196 non-null  object
 4   data_source                 209196 non-null  object
 5   topic                       209196 non-null  object
 6   question                    209196 non-null  object
 7   data_value_unit             209196 non-null  object
 8   data_value_type             209196 non-null  object
 9   data_value                  209196 non-null  float64
 10  data_value_footnote_symbol  1697 non-null    object
 11  data_value_footnote         1697 non-null    object
 12  low_confidence_limit        188885 non-null  float64
 13  high_confidence_limit       188890 non-null  float64
 14  stratification_category_1   209196 non-null  object
 15  stratification_1            209196 non-null  object
 16  geo_location                204130 non-null  object
 17  location_id                 209196 non-null  int64
 18  topic_id                    209196 non-null  object
 19  question_id                 209196 non-null  object
 20  data_value_type_id          209196 non-null  object
 21  stratification_id_1         209196 non-null  object
dtypes: float64(3), int64(3), object(16)
memory usage: 35.1+ MB

If you are an experienced Python user, you can create a base Python class for all of our tables before populating them and use built in SQLAlchemy features. <br>
To practice SQL, we will create our database from scratch using SQL commands in Python instead.

We can use a new SQL statement CREATE TABLE to create our first table in our new database by writing a query.<br>
Everyone's data is different! Choose the SQL data types that fit YOUR data needs!<br>
SQL Data Types: https://www.w3schools.com/sql/sql_datatypes.asp

Taking a look at certain columns from my dataset to make sure I pick the correct data type and to make sure I select the correct size:

In [7]:
#Topic column
sorted(disease["topic"].unique()) #Prints the unique entries in the topic column alphabetically

['Alcohol',
 'Arthritis',
 'Asthma',
 'Cancer',
 'Cardiovascular Disease',
 'Chronic Kidney Disease',
 'Chronic Obstructive Pulmonary Disease',
 'Cognitive Health and Caregiving',
 'Diabetes',
 'Disability',
 'Health Status',
 'Immunization',
 'Maternal Health',
 'Mental Health',
 'Nutrition, Physical Activity, and Weight Status',
 'Oral Health',
 'Sleep',
 'Social Determinants of Health',
 'Tobacco']

In [8]:
#Question column
sorted(disease["question"].unique()) #Prints the unique entries in the question column alphabetically

['2 or more chronic conditions among adults',
 'Activity limitation due to arthritis among adults with arthritis',
 'Adults with any disability',
 'Alcohol use among high school students',
 'All teeth lost among adults aged 65 years and older',
 'Arthritis among adults',
 'Asthma mortality among all people, underlying cause',
 'Average mentally unhealthy days among adults',
 'Average recent physically unhealthy days among adults',
 'Binge drinking frequency among adults who binge drink',
 'Binge drinking intensity among adults who binge drink',
 'Binge drinking prevalence among adults',
 'Binge drinking prevalence among high school students',
 'Breast cancer mortality among all females, underlying cause',
 'Cerebrovascular disease (stroke) mortality among all people, underlying cause',
 'Cervical cancer mortality among all females, underlying cause',
 'Cervical cancer screening among women aged 21-65 years',
 'Children and adolescents aged 6-13 years meeting aerobic physical activity guideline',
 'Chronic liver disease mortality among all people, underlying cause',
 'Chronic obstructive pulmonary disease among adults',
 'Chronic obstructive pulmonary disease mortality among adults aged 45 years and older, underlying cause',
 'Chronic obstructive pulmonary disease mortality among adults aged 45 years and older, underlying or contributing cause',
 'Cigarette smoking during pregnancy among women with a recent live birth',
 'Colon and rectum (colorectal) cancer mortality among all people, underlying cause',
 'Colorectal cancer screening among adults aged 45-75 years',
 'Consumed fruit less than one time daily among adults',
 'Consumed fruit less than one time daily among high school students',
 'Consumed regular soda at least one time daily among high school students',
 'Consumed vegetables less than one time daily among adults',
 'Consumed vegetables less than one time daily among high school students',
 'Coronary heart disease mortality among all people, underlying cause',
 'Current asthma among adults',
 'Current cigarette smoking among adults',
 'Current electronic vapor product use among high school students',
 'Current poor mental health among high school students',
 'Current smokeless tobacco use among high school students',
 'Current smoking among adults with chronic obstructive pulmonary disease',
 'Current tobacco use of any tobacco product among high school students',
 'Depression among adults',
 'Diabetes among adults',
 'Diabetes mortality among all people, underlying or contributing cause',
 'Diabetic ketoacidosis mortality among all people, underlying or contributing cause',
 'Discussed symptoms of subjective cognitive decline with a health care professional among adults aged 45 years and older with subjective cognitive decline',
 'Diseases of the heart mortality among all people, underlying cause',
 'Fair or poor self-rated health status among adults',
 'Food insecure in the past 12 months among households',
 'Frequent mental distress among adults',
 'Frequent physical distress among adults',
 'Gestational diabetes among women with a recent live birth',
 'Have taken an educational class to learn how to manage arthritis symptoms among adults with arthritis',
 'Health insurance coverage after pregnancy among women with a recent live birth',
 'Health insurance coverage in the month before pregnancy among women with a recent live birth',
 'High blood pressure among adults',
 'High cholesterol among adults who have been screened',
 'High school completion among adults aged 18-24',
 'Hospitalization for chronic obstructive pulmonary disease as any diagnosis, Medicare-beneficiaries aged 65 years and older',
 'Hospitalization for chronic obstructive pulmonary disease as principal diagnosis, Medicare-beneficiaries aged 65 years and older',
 'Hospitalization for heart failure as principal diagnosis, Medicare-beneficiaries aged 65 years and older',
 'Incidence of treated end-stage kidney disease',
 'Infants who were breastfed at 12 months',
 'Infants who were exclusively breastfed through 6 months',
 'Influenza vaccination among adults',
 'Influenza vaccination among adults 18-64 who are at increased risk',
 'Invasive cancer (all sites combined) mortality among all people, underlying cause',
 'Invasive cancer (all sites combined), incidence',
 'Lack of health insurance among adults aged 18-64 years',
 'Lack of reliable transportation in the past 12 months among adults',
 'Lack of social and emotional support needed among adults',
 'Life expectancy at birth',
 'Living below 150% of the poverty threshold among all people',
 'Lung and bronchial cancer mortality among all people, underlying cause',
 'Mammography use among women aged 50-74 years',
 'Met aerobic physical activity guideline among high school students',
 'Met aerobic physical activity guideline for substantial health benefits, adults',
 'No broadband internet subscription among households',
 'No leisure-time physical activity among adults',
 'No teeth lost among adults aged 18-64 years',
 'Obesity among WIC children aged 2 to 4 years',
 'Obesity among adults',
 'Obesity among high school students',
 'Per capita alcohol consumption among people aged 14 years and older',
 'Physical inactivity among adults with arthritis',
 'Pneumococcal vaccination among adults aged 18-64 years who are at increased risk',
 'Pneumococcal vaccination among adults aged 65 years and older',
 'Postpartum checkup among women with a recent live birth',
 'Postpartum depressive symptoms among women with a recent live birth',
 'Preventive dental care in the 12 months before pregnancy among women with a recent live birth',
 'Proportion of the population protected by a comprehensive smoke-free policy prohibiting smoking in all indoor areas of workplaces and public places, including restaurants and bars',
 'Prostate cancer mortality among all males, underlying cause',
 'Provided care for a friend or family member in the past month among adults',
 'Provided care for someone with dementia or other cognitive impairment in the past month among adults',
 'Quit attempts in the past year among adult current smokers',
 'Receipt of evidence-based preventive dental services in the past 12 months among children and adolescents aged 1-17 years',
 'Received health care provider counseling for physical activity among adults with arthritis',
 'Recent activity limitation among adults',
 'Routine checkup within the past year among adults',
 'Severe joint pain among adults with arthritis',
 'Short sleep duration among adults',
 'Short sleep duration among children aged 4 months to 14 years',
 'Short sleep duration among high school students',
 'Six or more teeth lost among adults aged 65 years and older',
 'Subjective cognitive decline among adults aged 45 years and older',
 'Taking medicine for high cholesterol among adults',
 'Taking medicine to control high blood pressure among adults with high blood pressure',
 'Unable to pay mortgage, rent, or utility bills in the past 12 months among adults',
 'Unemployment rate among people 16 years and older in the labor force',
 'Visited dentist or dental clinic in the past year among adults',
 'Visited dentist or other oral health care provider in the past 12 months among children and adolescents aged 1-17 years',
 'Work limitation due to arthritis among adults aged 18-64 years with arthritis']

In [9]:
#Data Value Unit Column
sorted(disease["data_value_unit"].unique()) #Prints the unique entries in the data value unit column

['%',
 'Number',
 'Years',
 'cases per 1,000',
 'cases per 1,000,000',
 'cases per 100,000',
 'gallons',
 'per 100,000']

In [10]:
#Data Value type column
sorted(disease["data_value_type"].unique()) #Prints the unique entries in the data value type column alphabetically

['Adjusted rate by age, sex, race and ethnicity',
 'Age-adjusted Mean',
 'Age-adjusted Prevalence',
 'Age-adjusted Rate',
 'Crude 75th percentile',
 'Crude Mean',
 'Crude Median',
 'Crude Prevalence',
 'Crude Rate',
 'Number',
 'Per capita alcohol consumption gallons',
 'Proportion']

In [11]:
#Stratification Category Column
sorted(disease["stratification_category_1"].unique()) #Prints the unique entries in the stratification category column alphabetically

['Age', 'Grade', 'Overall', 'Race/Ethnicity', 'Sex']

In [12]:
#Stratification Column
sorted(disease["stratification_1"].unique()) #Prints the unique entries in the stratification column alphabetically

['Age 0-44',
 'Age 1-5',
 'Age 10-13',
 'Age 12-17',
 'Age 18-44',
 'Age 4 m - 5 y',
 'Age 45-64',
 'Age 6-11',
 'Age 6-14',
 'Age 6-9',
 'Age >=65',
 'American Indian or Alaska Native, non-Hispanic',
 'Asian or Pacific Islander, non-Hispanic',
 'Asian, non-Hispanic',
 'Black, non-Hispanic',
 'Female',
 'Grade 10',
 'Grade 11',
 'Grade 12',
 'Grade 9',
 'Hawaiian or Pacific Islander, non-Hispanic',
 'Hispanic',
 'Male',
 'Multiracial, non-Hispanic',
 'Overall',
 'White, non-Hispanic']

In [13]:
#Data Source Column
sorted(disease["data_source"].unique()) ##Prints the unique entries in the data source column alphabetically

['ACS',
 'AEDS',
 'ANRF',
 'BRFSS',
 'CMS Part A Claims Data',
 'Current Population Survey - FSS',
 'NIS',
 'NSCH',
 'NVSS',
 'PRAMS',
 'US Cancer DVT',
 'USRDS',
 'WIC Participant and Program Characteristics',
 'YRBSS']

In [14]:
# Create our first table in the database file using SQL statements:
# We want our table column names to match what is in the .csv file
first_table_query = """CREATE TABLE IF NOT EXISTS topics (
                       id INT AUTO_INCREMENT PRIMARY KEY,
                       topic VARCHAR (100),
                       question VARCHAR (500),
                       data_value MEDIUMINT,
                       data_value_unit VARCHAR (25),
                       data_value_type VARCHAR (50),
                       stratification_category_1 VARCHAR (25),
                       stratification_1 VARCHAR (50),
                       data_source VARCHAR (50)
                    );"""
#Created a new field called id for the primary key using AUTO_INCREMENT since my data did not have a suitable one

In [15]:
#Execute the query:
with engine.connect() as connection: #Creates the connection
    connection.execute(text(first_table_query)) #Executes the table creation

print("First table created successfully!")

First table created successfully!

Define your SQL data types for your first table: <br><br>
**My SQL data types for my first table:**<br> Variables and integers

Why did you choose these values to make up your first database table? What did you choose for your primary key and why? <br>
The information in this first table is the measurements and metrics of my dataset. These are the key facts and information my database will be created to represent and share. My dataset did not have any entries or information that could be used as a primary key. There are entries for location id, topic id, question id, data value type id, and stratification id but none of these were unique. I created an auto increment primary key.

In [16]:
# There are multiple ways to populate the fields of the table. 
# Another option is to add a subset of the data into data table, and then populate the database table.
# Please feel free to change or alter the code below.
# This example uses the MySQL connector:

with engine.connect() as connection: #Creates the connection
    # Make sure MySQL is using the correct database
    cursor.execute("USE Chronic_disease_indicators;") #Make sure my database is being used

    # Populate the  table
    for _, row in disease.iterrows(): #Creates a loop to fill in the data from the dataset into the database table
        cursor.execute("""INSERT INTO topics (topic, question, data_value, data_value_unit, data_value_type, stratification_category_1, 
                                              stratification_1, data_source)
                          VALUES (%s, %s, %s, %s, %s, %s, %s, %s) 
                       """, [row['topic'],
                            row['question'],
                            row['data_value'],
                            row['data_value_unit'],
                            row['data_value_type'],
                            row['stratification_category_1'],
                            row['stratification_1'],
                            row['data_source']
                            ])
    #Each one of the columns to be used in the table is represented 
    # %s is used as a placeholder for the values to be populated from the dataset
    
    conn.commit() #Commits the changes

KeyboardInterrupt:

**STOP**<br><br>
In MySQL Workbench, you should see your new table that you have created and populated.<br>
You can now run a SQL query directly in MySQL Workbench!<br>
You can also run a query below to test it:

In [19]:
# Now that we have populated our table, let's try out a query.

with engine.connect() as connection:  # Establish a connection
    practice_query = text("""SELECT topic,
                             COUNT(*) as count
                             FROM topics
                             GROUP BY topic
                             ORDER BY count DESC""") # Define the query - text() ensures that the query string is read as a SQL expression 
    #Selects the topic(s) and creates counts from the topic table, groups by the topic(s) and orders the by the count in descending order
    practice_query = pd.read_sql(practice_query, connection) #Use pandas to read the sql query with the connection to the database
    
# Print the results
practice_query

                                              topic  count
0                            Cardiovascular Disease  23393
1   Nutrition, Physical Activity, and Weight Status  19618
2                                     Health Status  19157
3             Chronic Obstructive Pulmonary Disease  18337
4                                            Cancer  16499
5                                           Alcohol  16398
6                     Social Determinants of Health  12307
7                                      Immunization  12242
8                                         Arthritis  11960
9                                     Mental Health  11732
10                                         Diabetes  11043
11                                          Tobacco   9580
12                                      Oral Health   9030
13                                           Asthma   5231
14                                            Sleep   4152
15                                       Disability   4029
16                  Cognitive Health and Caregiving   3782
17                                  Maternal Health    602
18                           Chronic Kidney Disease    104

**STOP**<br>
To create a new schema diagram for your new database (Even though it only has one table...it's good practice!)<br>
Open MySQL Workbench again<br>
Click Home<br>
Click the Models icon<br>
Click the > icon to the right of "Models"<br>
Choose â€œCreate EER Model from Databaseâ€ <br>
The Reverse Engineer Database Wizard starts and will walk you through your first database schema diagram.<br>
Save your model. <br>
You can now add relationships and or modify tables...but for this assignment, all we need is that first table. <br>

**Add a screen shot of your first schema diagram (The table) to your repository/Blackboard subission.**

In [20]:
#Close the database connection :)
cursor.close()
conn.close()

### Creating a local database from scratch

#### Creating a local database from scratch in Python using SQL Alchemy for MySQL Workbench:<br>
Another example: https://blog.sqlitecloud.io/sqlite-python-sqlalchemy

In [33]:
# BEFORE YOU BEGIN!
# Is your MySQL Server running on your local machine?
# Doesn't matter this time, please continue! :)
from sqlalchemy import create_engine

In [34]:
engine = create_engine("sqlite:///local_chronic_disease_indicators.db")  # Creates a local database file in the SAME directory as this document.

In [35]:
# The only database connection parameters we need here are the name of the database we just created locally
# NOTE: We are not using the local host, but can still connect our database to MySQL
DATABASE_URL = "mysql+mysqlconnector://root:Graduate!2025@127.0.0.1/local_chronic_disease_indicators"

In [36]:
cursor.execute("CREATE DATABASE IF NOT EXISTS local_chronic_disease_indicators")

In [37]:
# Close your connection :)
conn.close()

**STOP HERE**<br>
Before moving on, it is **important** to understand the difference of what we have just completed. Using SQL Alchemy, we have created a database LOCALLY. Notice we did not specify a specific host, BUT we did specify a user and password! This means we can access this database locally in MySQL Workbench if we choose.

#### Creating a local database (.db file) from scratch in Python using SQLite:<br>

In [38]:
# Load necessary packages:
from sqlalchemy import create_engine, inspect, text # Database navigation
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [40]:
# Load the .csv subset again if you need to if you are starting over 
csv_file = "Chronic_Disease_Indicators_clean(1).csv"  # Replace with your actual file path
df = pd.read_csv(csv_file)

# Create a SQLite database and engine
db_file = "chronic_disease_indicators.db"
engine = create_engine(f"sqlite:///{db_file}")

# Store the dataframe in the database as a single table for quick practice (Never recommended, especially for large data sets) 
df.to_sql("X", con=engine, if_exists="replace", index=False)

209196

**STOP HERE**<br>
This method creates a database as a file on our local machine. The .db file is created in the same location or working directory you are currently in (Go check!). If you did not specify a working directory, the .db file is created where this .ipynb is located.

In [41]:
#Close the database connection :)
conn.close()